.topnav input[type=text] {
font-size: 17px;
border: none;
}



@media only screen and (max-width: 400px) {
	#fodace {
        background-color: pink;
		width: 120px;
		height: 150px;
		margin: 5px;
		padding:15px 10px;
	}
}


#items {
    width: 60%;
    height: 800px;
    background-color:white;
}


#items button {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    float: right;
    margin-left: auto;
    border-radius: 12px;
    height: 40px;
    width: 130px;
    font-weight: bold;
}







.products {
    margin-right:auto;
    margin-left: auto;
    margin-bottom: 30px;
    height: 80px;
    width: 100%;
    background-color: gray;

}


#icon {
    height: 70px;
    margin-left: 10px;
}

.products img {
    height: 200px;
}




