/* Fontes importadas: */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/*  =========== ESTILOS GERAIS ===========  */
/* Define as cores usadas como variáveis, para facilitar */
:root {
    --gold: #cd9f3f;
    --cyberpunk-blue: #23dbf5;
    --cyberpunk-purple: #40188f;
    --black: #031019;
}

body {
	/* Evita faixas brancas e tira as margens da ágina */
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

/* Padroniza a fonte de todos os textos */
.text, text, a, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

/* Coloração individual dos elementos e do background */
.black-background {background-color: var(--black);}
.black {color: var(--gray);}
.gold {color: var(--gold);}
.white{color: white;}
.cyberpunk-blue {color: var(--cyberpunk-blue);}
.cyberpunk-purple {color: var(--cyberpunk-purple);}

/* Formatação de texto */
.center-title {text-align: center;}
.start-title {text-align: start;}

/* Estilização fixa para todas as tags div (uso de flexbox) */
.vertical {
    display: flex;
    flex-direction: column;
}
.horizontal {
    display: flex;
    flex-direction: row;
}
.center {
    align-items: center;
    justify-content: center;
}
.end {
    align-items: flex-end;
}
.evenly {
    justify-content: space-evenly;
}
.space-between {
    align-items: center;
    justify-content: space-between;
}
.space-around {
    align-items: center;
    justify-content: space-around;
}

/* Usada para cabeçalho e rodapé, é horizontal em telas grandes e vertical em telas menores */
.responsive-div {
	display:flex;
	flex-direction :row;
	justify-content:space-evenly;
	align-items:center;
}
@media only screen and (max-width: 800px){
	.responsive-div {
		flex-direction: column;
	}
}
/* Texto que fica centralizado em telas pequenas */
@media only screen and (max-width: 500px){
	.responsive-text {
        text-align: center;
    }
}

/*  =========== BARRA DE NAVEGAÇÃO ===========  */
#navbar {
    background: linear-gradient(180deg, var(--cyberpunk-purple) 0%, var(--black) 100%);
    min-height: 60px;
    width: 80vw;
    padding: 0 10vw;
    position: -webkit-sticky;
    position:sticky;
	top:0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
@media only screen and (max-width: 600px){
	#navbar {
		flex-direction: column; 
	}
}

#page-name {
    color: var(--gold);
	font-size: 32px;
	text-decoration: none;
}

.link {
    text-decoration: none;
    font-size: 26px;
}
.header-link {
	text-decoration: none;
    color: var(--cyberpunk-blue);
    border-bottom: 2px solid transparent;
    transition: 0.5s;
	margin: 4px 10px;
}
.header-link:hover {
	border-bottom: 2px solid var(--cyberpunk-blue);
}

/*  =========== RODAPÉ ===========  */
#footer {
    background: linear-gradient(0deg, var(--cyberpunk-purple) 0%, var(--black) 100%);
    width: 100%;
    min-height: 80px;
    max-height: 580px;
}

.margin {
    margin: 20px;
}

/*  =========== USO GERAL ===========  */
#page-body {
    width: 100vw;
    background-color: var(--black);
    /* O conteúdo da loja ocupará no mínimo o espaço que falta para preencher a tela */
    min-height: calc(100vh - 60px - 80px);
}

h1, h2, h3 {
    color: var(--cyberpunk-blue);
}

.simple-button {
    text-decoration: none;
    color: var(--cyberpunk-blue);
  }

.space {margin: 10px;}
.horizontal-space {margin: 0 10px;}
.vertical-space {margin: 10px 0;}