.topnav input[type=text] {
    font-size: 17px;
    border: none;
}

.search-container button {
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.search-container{
    top: 3px;
    font-size: 18px;
}

#items {
    width: 100%;
    background-color: #2e363f;
    border-radius: 2px;
    padding: 30px 0;
}

#items {
    width: 60vw;
}
@media only screen and (max-width: 800px){
    #items {
        width: 80vw;
    }
}

.products {
    margin: 10px 5%;
    width: 90%;
    padding: 5px 0;
    background-color: #c1c1c1;
    border-radius: 8px;
}

.price {
    font-size: 500%;
    font-weight: bold;
    color: black;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    font-size: 18px;
  }

.products img {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    height: 120px;
}

.products button {
    margin: 10px 15px;
    border-radius: 6px;
    height: 40px;
    width: 130px;
    font-weight: bold;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.products div {
    margin: 10px;
}

.spot_edit {
    background-color: #555;
}

.add_exclude {
    background-color: red;
}

.buy_skin {
    background-color: #B2F77D;
}

.filtros {
    padding:5px;
}

#ferramentasDePesquisa{
    margin-left: 3px;
}

.responsive-search {
	display:flex;
	flex-direction :row;
	align-items:flex-start;
}
@media only screen and (max-width: 800px){
	.responsive-search {
		flex-direction: column;
	}
}

select {
    padding: 6px 10px;
}

.responsive-user-crud {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
@media only screen and (max-width: 800px){
    .responsive-user-crud {
		flex-direction: column;
        align-items: center;
	}
}

.individual {
    padding: 10px;
}