/* Define as cores usadas como variáveis, para facilitar */
:root {
    --gold: #cd9f3f;
    --cyberpunk-blue: #23dbf5;
    --cyberpunk-purple: #40188f;
    --black: #031019;
}
  
/* Caixa usada para as telas nas quais o admin cria ou modifica produtos */
#product {
    margin: 30px auto 10px auto;
    width: 70vw;
    background-color:gray;
    border-radius: 12 px;
}
@media only screen and (max-width: 800px){
	#product {
		width: 80vw;
	}
}

/* Estilo do botão */
#product button {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    float: right;
    margin-left: auto;
    border-radius: 12px;
    height: 40px;
    width: 130px;
    font-weight: bold;
}

/* Cores dos botões */
.cancel {
    background-color: red;
}
.edit {
    background-color: #B2F77D;
}
select{
    padding: 6px 10px;
}